<div class="advantages">
    <div class="advantages__item">
        <img src="/img/advantage.svg" alt="" class="advantages__picture">
        <div class="advantages__title">Преимущество 1</div>
        <p class="advantages__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
    </div>
    <div class="advantages__item">
        <img src="/img/advantage.svg" alt="" class="advantages__picture">
        <div class="advantages__title">Преимущество 2</div>
        <p class="advantages__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
    </div>
    <div class="advantages__item">
        <img src="/img/advantage.svg" alt="" class="advantages__picture">
        <div class="advantages__title">Преимущество 3</div>
        <p class="advantages__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
    </div>
    <div class="advantages__item">
        <img src="/img/advantage.svg" alt="" class="advantages__picture">
        <div class="advantages__title">Преимущество 4</div>
        <p class="advantages__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
    </div>
</div>