<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__col">
                <a href="/" class="logo">Креоген</a>
                <div class="links">
                    <i class="uil uil-telegram"></i>
                    <i class="uil uil-whatsapp-alt"></i>
                    <i class="uil uil-instagram-alt"></i>
                </div>
                <p class="copyright">2023 © Все права защищены</p>
            </div>
            <div class="footer__col">
                <a href="/payment">Доставка / Оплата</a>
                <a href="/products">Каталог</a>
                <a href="/">Политика обработки персональных данных</a>
            </div>
            <div class="footer__col">
                <a href="/about">О компании</a>
                <a href="/services">Услуги</a>
                <a href="/">Гарантии</a>
                <a href="/">Опыт</a>
            </div>
            <div class="footer__col">
                <a href="/news">Новости</a>
                <a href="/contact">Контакты</a>
            </div>
            <div class="footer__col">
                <p class="tel">+79991375050</p>
                <p class="street">Нижний Новгород, Ленинская, 52А</p>
                <p class="email">nukeninuchiha@yandex.ru</p>
            </div>
        </div>
    </div>
</footer>