<section class="newsletter">
    <div class="container">
        <h3 class="newsletter__title">Полезная рассылка</h3>
        <div class="newsletter__content">
            <div class="up">
                <div class="control">
                    <label for="newsletter__email">Почта</label>
                    <input type="text" name="email" id="newsletter__email" placeholder="Email..">
                </div>
                <button class="btn">Отправить</button>
            </div>
            <div class="down">
                <input type="checkbox">
                <p>Подтверждаю свое согласие на обработку своих персональных данных <br> в соответствии с Политикой конфиденциальности [name]</p>
            </div>
        </div>
    </div>
</section>